<section id="about" class="about bg-primary">
   <div class="container">
       <div class="row">
           <div class="col-lg-12 text-center">
               <h2>Who is Germanual Gross?</h2>
               {{!-- <img src="img/portfolio-img.png" alt="portfolio image" height="42" width="42"> --}}
               <p class="lead">
                   Germanual loves combining personality and problem solving with technology. He has spent the last 6 years as a Site Manager and Lead Technician at Mastec in Austin, Tx producing projects from the ground up. He has spent his winter and spring 2017 self teaching himself to become a Web Developer. Motivated to expand his technical knowledge, Germanual enrolled in University of Texas' Coding Bootcamp, learning how to make Full Stack websites and applications in just 12 weeks. He is incredibly excited to find the next opportunity that will allow him to utilize all his skills. In his spare time, Germanual loves traveling with his wife, playing ps4 games, and writing code with his mentor.
               </p>
           </div>
       </div>
   </div>
</section>
