<!-- Footer -->
<footer class="footer-bg">
   <div class="container">
       <div class="row">
           <div class="col-lg-10 col-lg-offset-1 text-center">
               <h2><strong>Contact Me</strong>
               </h2>
               <ul class="list-unstyled">
                   <li><i class="fa fa-phone fa-fw"></i> (254) 258-0399</li>
                   <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:germanual22@gmail.com">germanual22@gmail.com</a>
                   </li>
               </ul>
               <br>
               <ul class="list-inline">
                   <li>
                       <a href="https://github.com/ggross87" target="_blank"><i class="fa fa-github fa-fw fa-3x"></i></a>
                   </li>
                   <li>
                      <a href="https://www.linkedin.com/in/germanual-gross/" target="_blank"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                   </li>
               </ul>
               <hr class="small">
               <p class="text-muted">Copyright &copy; Germanual Gross 2017</p>
           </div>
       </div>
   </div>
   <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>
