<!-- Websites -->
<section id="websites-built" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
              <h2>Websites Built</h2>
              <hr class="small">

              <div class="row">
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <a href="https://arcane-cliffs-32083.herokuapp.com/" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/websites/BH6.png">
                        </a>
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <div class="portfolio-item">
                        <a href="https://pixartrivia.herokuapp.com/" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/websites/PixarTrivia.png">
                        </a>
                    </div>
                </div> -->
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <a href="https://polar-castle-52136.herokuapp.com/" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/websites/Bookshelf.png">
                        </a>
                    </div>
                </div>
              </div>

              <div class="row">
                <!-- <div class="col-md-4">
                    <div class="portfolio-item">
                        <a href="https://peaceful-anchorage-45179.herokuapp.com/" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/websites/Burger.png">
                        </a>
                    </div>
                </div> -->
                <div class="col-md-4">
                    <div class="portfolio-item">
                        <a href="https://cryptic-citadel-55206.herokuapp.com/articles" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/websites/ScrapeTheNews.png">
                        </a>
                    </div>
                </div>
                <!-- <div class="col-md-4">
                    <div class="portfolio-item">
                        <a href="http://openclose.herokuapp.com/" target="_blank">
                            <img class="img-portfolio img-responsive" src="img/websites/OpenClose.png">
                        </a>
                    </div>
                </div> -->
              </div>

          </div>
        </div>
      </div>
    </div>
</section>
